
@{
    ViewData["Title"] = "Add";
}

<h2>Add Events</h2>

<form method="post">
    <input type="text" name="name" value="" />
    <input type="text" name="description" value="" />
    <input type="submit" value="Submit" />
</form>

